<div>
    <!--<mat-form-field>
        <input matInput placeholder="paciente" [(ngModel)]="signos.paciente.nombres">
    </mat-form-field> !-->

    <mat-form-field>
        <mat-select placeholder="Seleccione un paciente" [(value)]="idPacienteSeleccionado" >
            <mat-option *ngFor="let p of pacientes" [value]="p.idPaciente">
                    {{p.nombres}} {{p.apellidos}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Temperatura" [(ngModel)]="signos.temperatura">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Pulso" [(ngModel)]="signos.pulso">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Ritmo" [(ngModel)]="signos.ritmo">
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha"
            [(ngModel)]="signos.fecha" [max]="maxFecha">
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cerrar()">Cancelar</button>